<a type="button" class="btn btn-success" ng-click="crearPartida()">
    <i class="glyphicon glyphicon-open"></i>&nbsp;&nbsp;Crear Partida
</a>
<a style="position: relative; display: inline-block; float: right;" type="button" class="btn btn-primary"
   ui-sref="admin">
    <i class="glyphicon glyphicon-triangle-left"></i>&nbsp;&nbsp;Volver
</a>
<br><br>
<div id="vistamesas">
    <table class="table table-hover" ng-table="tableParams" show-filter="true">
        <tr ng-repeat="partida in $data">
            <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Creador'" sortable="'creador'" filter="{ 'creador': 'text' }">
                &nbsp;&nbsp;&nbsp;&nbsp;<a class="nocolor" ng-click="editar(partida)">{{partida.creador}}</a><br>
            </td>
            <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Invitado'" sortable="'invitado'" filter="{ 'invitado': 'text' }">
                &nbsp;&nbsp;&nbsp;&nbsp;<a class="nocolor" ng-click="editar(partida)">{{partida.invitado}}</a><br>
            </td>
            <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Mesa'" sortable="'mesa'" filter="{ 'mesa': 'text' }">
                &nbsp;&nbsp;&nbsp;&nbsp;<a class="nocolor" ng-click="editar(partida)">{{partida.mesa}}</a><br>
            </td>
            <td data-title="'&nbsp;&nbsp;&nbsp;&nbsp;Fecha'" sortable="'created'" filter="{ 'created': 'text' }">
                &nbsp;&nbsp;&nbsp;&nbsp;<a class="nocolor" ng-click="editar(partida)"
                                           ng-bind="partida.created | date:'mediumDate'"></a>
            </td>
            <td>
                <div style="margin-left: 7%" class="table-actions">
                    <button class="btn btn-warning">
                        <span class="glyphicon glyphicon-edit" title="Editar" ng-click="editar(partida)"
                              aria-hidden="true"></span>
                    </button>
                    <button type="submit" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash" ng-click="delete(partida._id)"
                              aria-hidden="true"></span>
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-user" ng-click="editar(partida)" aria-hidden="true"></span>
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>

